@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --amarelo: #F9D423;  /* F9D423 EDDE45*/ 
    --vermelho: #6B0103; /* ff0000 6B0103 A30006 F03C02 */ 
    --verde: #A8DBA8;    /* 00ff00 CFF09E A8DBA8 3B8686 */
    --azul: #00B4CC;     /* 0000ff 00DFFC 00B4CC 00B4CC */
    --branco: #ffffff;
 }

 html {
    font-family: 'Montserrat', 'sans-serif'; 
 }
li {
    display: inline;
    margin-right: 50px;

}

li:hover {
    font-weight: bold;
}

header, footer {
	width: auto;
	background: rgba(80,80,80,0.2);
	line-height: 3em;
}

header {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	height: 11 0px;
}

footer {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	height: 50px;
}

header h1, footer h1 {
	text-align: center;
	text-shadow: 1px 1px black;
}

#content {
	width: 100%;
	height: auto;
	position: relative;
	float: left;
}

article {
	margin-top: 10px; 
	width: 40%;
	border: 1px dashed var(--vermelho);
	height: 400px;
	margin-left: 5%;
	position: relative;
	float: left;
}

a {
    text-decoration: none;
}

.div {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #F9D423;

}

.article {
    
}